---
type Sponsor = {
  name: string;
  href?: string;
  logo?: string;
};

type SponsorTier = {
  name: string;
  sponsors: Sponsor[];
};

const sponsors: SponsorTier[] = [
  {
    name: "Platinum",
    sponsors: [
      {
        name: "FUTO",
        href: "https://www.futo.org/",
        logo: "/assets/img/sponsors/futo.svg",
      },
      {
        name: "Shopify",
        href: "https://www.shopify.com/",
        logo: "/assets/img/sponsors/shopify.svg",
      },
      {
        name: "Cloudflare",
        href: "https://www.cloudflare.com/",
        logo: "/assets/img/sponsors/cloudflare.svg",
      },
    ],
  },
  {
    name: "Gold",
    sponsors: [
      {
        name: "Proton VPN",
        href: "https://protonvpn.com/",
        logo: "/assets/img/sponsors/protonvpn.svg",
      },
      {
        name: "Guillermo Rauch",
        href: "https://rauchg.com/",
      },
      {
        name: "ohne-makler.net",
        href: "https://www.ohne-makler.net/",
        logo: "/assets/img/sponsors/ohne-makler.svg",
      },
    ],
  },
  {
    name: "Silver",
    sponsors: [
      {
        name: "Mitchell Hashimoto",
        href: "https://mitchellh.com",
      },
      {
        name: "Paul Copplestone",
        href: "https://paul.copplest.one",
      },
      {
        name: "37signals",
        href: "https://37signals.com/",
        logo: "/assets/img/sponsors/37signals.svg",
      },
      {
        name: "Axeptio",
        href: "https://www.axept.io/",
        logo: "/assets/img/sponsors/axeptio.svg",
      },
      {
        name: "Andreas Mähler",
      },
    ],
  },
  {
    name: "Bronze",
    sponsors: [
      {
        name: "JetBrains",
        href: "https://www.jetbrains.com/",
        logo: "/assets/img/sponsors/jetbrains.svg",
      },
      {
        name: "Bastian Müller",
        href: "https://www.turbolent.com/",
      },
      {
        name: "Sourcegraph",
        href: "https://sourcegraph.com/",
        logo: "/assets/img/sponsors/sourcegraph.svg",
      },
      {
        name: "SerpApi",
        href: "https://serpapi.com",
        logo: "/assets/img/sponsors/serpapi.svg",
      },
      {
        name: "The Primeagen",
        href: "https://terminal.shop/",
      },
      {
        name: "Scraping Fish",
        href: "https://scrapingfish.com/",
        logo: "/assets/img/sponsors/scraping-fish.svg",
      },
      {
        name: "K15t",
        href: "https://www.k15t.com",
        logo: "/assets/img/sponsors/k15t.svg",
      },
      {
        name: "Unkey",
        href: "https://www.unkey.com",
        logo: "/assets/img/sponsors/unkey.svg",
      },
      {
        name: "Gravwell",
        href: "https://www.gravwell.io/",
        logo: "/assets/img/sponsors/gravwell.svg",
      },
      {
        name: "Anonymous Chromium Developer",
      },
    ],
  },
  {
    name: "Copper",
    sponsors: [
      {
        name: "Optimising.com.au",
        href: "https://www.optimising.com.au/?utm_source=ladybird&utm_medium=website&utm_campaign=sponsor",
      },
      {
        name: "Guillaume Knispel",
      },
      {
        name: "Broadband Map",
        href: "https://broadbandmap.com",
      },
      {
        name: "Jonathan Lahijani",
        href: "https://jonathanlahijani.com",
      },
      {
        name: "Puter",
        href: "https://puter.com",
      },
      {
        name: "Follower24.de",
        href: "https://www.follower24.de",
      },
      {
        name: "Travis Heinström",
        href: "https://heinstrom.com",
      },
      {
        name: "Sjors Witteveen",
        href: "https://kabutops.com",
      },
      {
        name: "Philip Lonsing",
        href: "https://www.linkedin.com/in/philiplonsing/",
      },
      {
        name: "Clément Sibille",
        href: "https://lisible.xyz/",
      },
      {
        name: "b1ack0wl",
        href: "http://www.b1ack0wl.com/",
      },
      {
        name: "Gian Giovani",
        href: "https://wejick.wordpress.com",
      },
      {
        name: "Timely Learning",
        href: "https://www.timely-learning.com",
      },
      {
        name: "Coursiv",
        href: "https://coursiv.io",
      },
      {
        name: "Andrew Mead",
        href: "https://mead.io",
      },
      {
        name: "styfle",
        href: "https://styfle.dev",
      },
      {
        name: "Tyler Horvath",
        href: "http://www.tylerhorvath.space",
      },
      {
        name: "Hnefatafl Org",
        href: "https://hnefatafl.org",
      },
      {
        name: "Softwired Technologies",
        href: "https://softwiredtech.com",
      },
    ],
  },
  {
    name: "Infrastructure Sponsors",
    sponsors: [
      {
        name: "Blacksmith",
        href: "https://www.blacksmith.sh",
        logo: "/assets/img/sponsors/blacksmith.svg",
      },
      {
        name: "OakHost",
        href: "https://www.oakhost.net",
        logo: "/assets/img/sponsors/oakhost.svg",
      },
    ],
  },
];
---

<section class="relative mb-24 px-5 lg:mb-28" id="sponsors">
  <div class="sponsors__eclipse-big"></div>
  <div class="sponsors__eclipse-medium"></div>
  <div class="container">
    <h2 class="text-center mb-12">Sponsors</h2>
    {
      sponsors.map((tier) => {
        return (
          <div class="mb-[64px] relative">
            <div class="flex items-center mb-6">
              <span class="block w-full h-[1px] bg-[#d3d2d6]" />
              <span class="text-2xl shrink-0 font-semibold px-5 max-w-full text-center">
                {tier.name}
              </span>
              <span class="block w-full h-[1px] bg-[#d3d2d6]" />
            </div>
            <div class="flex flex-wrap items-center justify-center gap-4">
              {tier.sponsors.map((sponsor) => {
                return (
                  <div class="relative flex items-center justify-center min-h-[102px] border-[6px] border-[#fff] rounded-[30px] shadow-[0_0_8px_0_rgba(202,205,226,0.38)] p-4">
                    <a class="text-black" href={sponsor.href} rel="nofollow">
                      {sponsor.logo ? (
                        <img src={sponsor.logo} alt={sponsor.name} />
                      ) : (
                        <span>{sponsor.name}</span>
                      )}
                    </a>
                  </div>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</section>
