---
const sponsors = [
  {
    name: "Platinum",
    sponsors: [
      {
        name: "FUTO",
        href: "https://www.futo.org/",
        logo: "/assets/img/sponsor-futo.svg",
      },
      {
        name: "Shopify",
        href: "https://www.shopify.com/",
        logo: "/assets/img/sponsor-shopify.svg",
      },
    ],
  },
  {
    name: "Silver",
    sponsors: [
      {
        name: "Packet Clearing House",
        href: "https://www.pch.net/",
        logo: "/assets/img/sponsor-pch.svg",
      },
      {
        name: "Null Games",
        href: "https://www.null.com/",
        logo: "/assets/img/sponsor-null.svg",
      },
      {
        name: "Playbit",
        href: "https://www.playb.it/",
        logo: "/assets/img/sponsor-playbit.svg",
      },
      {
        name: "ohne-makler.net",
        href: "https://www.ohne-makler.net/",
        logo: "/assets/img/sponsor-ohne-makler.svg",
      },
    ],
  },
  {
    name: "Bronze",
    sponsors: [
      {
        name: "Tuple",
        href: "https://www.tuple.app/",
        logo: "/assets/img/sponsor-tuple.svg",
      },
      {
        name: "Bastian Müller",
        href: "https://www.turbolent.com/",
      },
    ],
  },
];
---

<section class="relative mb-24 px-5 lg:mb-28" id="sponsors">
  <div class="sponsors__eclipse-big"></div>
  <div class="sponsors__eclipse-medium"></div>
  <div class="container">
    <h2 class="text-center mb-12">Sponsors</h2>
    {
      sponsors.map((tier) => {
        return (
          <div class="mb-[64px] relative">
            <div class="flex items-center mb-6">
              <span class="block w-full h-[1px] bg-[#d3d2d6]" />
              <span class="text-2xl font-semibold px-5">{tier.name}</span>
              <span class="block w-full h-[1px] bg-[#d3d2d6]" />
            </div>
            <div class="flex flex-wrap items-center justify-center gap-4">
              {tier.sponsors.map((sponsor) => {
                return (
                  <div class="relative flex items-center justify-center min-h-[102px] border-[6px] border-[#fff] rounded-[30px] shadow-[0_0_8px_0_rgba(202,205,226,0.38)] p-4">
                    <a class="text-black" href={sponsor.href}>
                      {sponsor.logo ? (
                        <img src={sponsor.logo} alt={sponsor.name} />
                      ) : (
                        <span>{sponsor.name}</span>
                      )}
                    </a>
                  </div>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</section>
