---
import BaseLayout from "@/layouts/base.astro";
import type { Post } from "@/content/config";

type Props = {
  frontmatter: Post;
  children: any;
};
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  image={frontmatter.image}
>
  <section class="hero hero_single">
    <div class="hero__tf">
      <p>
        <strong>{frontmatter.author || "Announcement"}</strong> &mdash;
        {frontmatter.date.toUTCString().slice(0, 16)}
      </p>
      <h1>{frontmatter.title}</h1>
    </div>
  </section>
  <section class="single-content">
    <div class="container container-narrow">
      <slot />
    </div>
  </section>
</BaseLayout>
