---
import BaseLayout from "@/layouts/base.astro";
const { frontmatter, title, description, author, image } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  author={author}
  image={image}
>
  <div class="min-h-screen">
    <section class="hero hero_single">
      <div class="container custom-row">
        <div class="hero__tf">
          <p>
            <span>{frontmatter.author || "Announcement"}</span> | {
              frontmatter.date.toUTCString().slice(0, 16)
            }
          </p>
          <h1>{frontmatter.title}</h1>
        </div>
      </div>
    </section>
    <section class="single-content">
      <div class="container container-narrow">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>
